html,body,ul,li{
margin:0px;
padding:0px;
}
a{
	text-decoration: none;
}

#example-navbar-collapse>ul>li>a{
	font-size: 16px;
	text-align: center;
}
.navbar{
	
	border:0px;
}

/*手机端导航的*/
/*表现层颜色*/
.navbar-default{
background-color: rgba(1,1,1,0.6);
}
/*底层颜色*/
.container-fluid{
 	
 	height: 60px;
    border: 0px;
 	background: rgba(1,1,1,0);
 	border:0px;
 }
 .navbar-toggle{
 	margin-top: 20px;
 }
/*在正常屏上*/
 @media (min-width: 992px){
 	.navbar-nav{
 	float:right;
 }
 #example-navbar-collapse>ul>li>a{
	height: 80px;
	width: 120px;
	padding: 0px;
	line-height: 70px;
	
	color:#f2b535;

}
 
#logo{
 	width: 60px;
 	height: 60px;
 	background: url(../images/logo.png) no-repeat center;
 	background-size: 60px 60px;
 	margin-left: 10px;
 	margin-right: 10px;
 	float: left;
 } 
 h1{
 	float: left;
 	font-size: 27px;
 	color:#f2b535;

 } 

 }
@media screen and (max-width: 1100px) and (min-width: 991px){

#example-navbar-collapse>ul>li>a{
	height: 80px;
	width: 100px;
	padding: 0px;
	line-height: 70px;
	
	color:#f2b535;

}

}

 /*在小屏幕上*/
@media screen and (max-width: 991px) and (min-width: 768px){
 	.navbar-nav{
 	float:right;
 }
 #example-navbar-collapse>ul>li>a{
	height: 70px;
	width: 70px;
	padding: 0px;
	line-height: 70px;
	color:#f2b535;

}
 
#logo{
 	width: 55px;
 	height: 55px;
 		background: url(../images/logo.png) no-repeat center;
 	background-size: 50px 50px;
 	margin-left: 10px;
 	margin-right: 10px;
 	float: left;
 } 
 h1{
 	float: left;
 	font-size: 22px;
 	color:#f2b535;

 } 

 }

 /*---------从这里开始是手机端  展开的菜单栏---------*/
 /*在移动设备上*/
 @media (max-width: 767px){
#example-navbar-collapse{
	background-color: #26282c;
	border:0px;
}
#logo{
 	width: 50px;
 	height: 50px;
 		background: url(../images/logo.png) no-repeat center;
 	background-size: 50px 50px;
 	margin-top: 10px;
 	margin-left: 10px;
 	margin-right: 10px;
 	float: left;
 } 
 h1{
 	padding:0px;
 	margin: 0px;
 	height: 70px;
 	line-height: 70px;
 	float: left;
 	font-size: 16px;
 	color: #f2b535;

 } 

#example-navbar-collapse>ul>li>a{
	color:#fff;

}
#example-navbar-collapse>ul>li>a:hover{
	
	color:#f2b535;
}
.navbar-default{
background-color:#1d2b38;
}


}

/*以下是所有设备的样式*/




/*当滚动时导航栏样式*/

.whenScoll{
	
	z-index: 1000;
	background-color: #fff;
	transition:all 0.5s ease-out;
	height: 80px;
	box-shadow: 0 0 4px rgba(0,0,0,.5);


}


.to_top{
	visibility:hidden; 	
	width:50px;
	height: 50px;
	background-color:#f2b535;
	border:0px;
	border-radius: 5px;
	position: fixed;
	bottom: 0px;
	right: 30px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 25px;
	outline: none;
}
.to_top:hover{
	cursor: pointer;
	background: none;
	color:  #08aba6;
	transition-delay:0.1s;
}
.to_top>a{
	text-decoration: none;
}
.show{
	position: fixed;
	bottom: 30px;
	visibility: visible;
	transition:all 0.5s ease-out;
}
@media (max-width: 355px){
	h1{
 	padding:0px;
 	margin: 0px;
 	height: 70px;
 	line-height: 70px;
 	float: left;
 	font-size: 14px;
 	color: #f2b535;

 } 
}